.nav-item-change-project {
  height: 80%;
  width: 58px;
  padding: 0px 58px;
  left: -23%;
  position: relative;
  top: 0;
  margin: 2px;
  z-index: 0;
  transition: .4s ease-in-out;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.86);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.nav-item-change-qualification {
  height: 80%;
  width: 91px;
  padding: 0px 68.25px;
  left: -1%;
  position: relative;
  top: 0;
  margin: 2px;
  z-index: 0;
  transition: .4s ease-in-out;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.86);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.nav-item-change-skills {
  height: 80%;
  width: 35px;
  padding: 0px 35px;
  left: 19.5%;
  position: relative;
  top: 0;
  margin: 2px;
  z-index: 0;
  transition: .4s ease-in-out;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.86);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.nav-item-change-contactUs {
  height: 80%;
  width: 77px;
  padding: 0px 57.75px;
  left: 39%;
  position: relative;
  top: 0;
  margin: 2px;
  z-index: 0;
  transition: .4s ease-in-out;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.86);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}